{% extends 'base.html' %}

{% block container %}
<h2>{{ event.name }} <small><a href="{{ url_for('new_ticket', event_id=event.id) }}">(+ ticket)</a></small></h2>
<hr />
<div class="row">
    {% if event.image_url %}
    <div class="col" style="padding: 5px;">
        <img src="{{ event.image_url }}" class="rounded">
    </div>
    {% endif %}
    <div class="col" style="padding: 5px;">
        <h4>Detalhes</h4>
        <div>
            <div style="padding: 5px;">
                <i class="fas fa-question"></i>
                {{ event.category  }}
            </div>
            <div style="padding: 5px;">
                <i class="fas fa-calendar-alt"></i>
                {{ event.date_time.strftime('%d/%m/%Y')  }}
            </div>
            <div style="padding: 5px;">
                <i class="fas fa-map-marker-alt"></i>
                {{ event.address  }}
            </div>
            <blockquote style="padding: 5px;">
                <i class="fas fa-info-circle"></i>
                {{ event.description  }}
            </blockquote>
        </div>
    </div>
    <div class="col" style="padding: 5px;">
        <h4>Tickets</h4>
        <ul>
            {% for ticket in event.tickets %}
            <li>{{ ticket.name }} - {{ '{:,.2f} MT'.format(ticket.price) }} - vendidos ({{ ticket.orders.count() }})
            </li>
            {% else %}
            <span class="text-info">Nenhum bilhete criado, ainda. Clique <a
                    href="{{ url_for('new_ticket', event_id=event.id) }}">aqui</a> para adicionar.</span>
            {% endfor %}
        </ul>
    </div>
    <div class="col" style="padding: 5px;">
        <h4>Acções</h4>
        <div>
            <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-primary">Editar</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalRemove">Remover</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja remover o evento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                <form method="post" action="{{ url_for('delete_event', event_id=event.id) }}">
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}