{% extends 'base.html' %}

{% block container %}
<h4><a href="{{ url_for('web.new_event') }}">+ Evento</a></h4>

{% if current_user.events %}
<table class="table table-borderless table-hover table-sm">
    <thead>
        <th></th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Data</th>
        <th>Local</th>
    </thead>
    <tbody>
        {% for event in current_user.events %}
        <tr>
            {% if event.image_url %}
            <td><img src="{{ event.image_url }}" class="rounded" width="150px"></td>
            {% else %}
            <td></td>
            {% endif %}
            <td style="vertical-align: middle;">
                <a href="{{ url_for('web.event', event_id=event.id) }}">{{ event.name }}</a>
            </td>
            <td style="vertical-align: middle;">{{ event.category }}</td>
            <td style="vertical-align: middle;">{{ event.date_time.strftime('%d/%m/%Y')  }}</td>
            <td style="vertical-align: middle;">{{ event.address  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<span class="alert alert-info">Nenhum evento criado, ainda.</span>
{% endif %}
{% endblock %}